<a href="https://colab.research.google.com/github/nelsonvilte/python-pandas-tratamiento-analisis-datos/blob/class03/python_pandas_tratamiento_analisis_datos_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #importamos pandas en la variable pd
pd.set_option('display.max_rows',15) #Para forzar a visualizar los 15 primeros registros

In [ ]:
dataset = pd.read_csv('alquiler.csv', sep=';') #almacenando el contenido del archivo en la variable dataset

In [ ]:
dataset

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN
32959,Local comercial,Pachacámac,0,0,0,250,6500.0,4206.0,1109.0

In [ ]:
dataset.describe() #devuelve un resumen estadistico del conjunto de datos

,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
count,32960.000000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.771390,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
std,1.717869,20.380402,1.176525,1135.254152,6.675220e+05,3.918496e+04,1.795641e+05
min,0.000000,0.000000,0.000000,0.000000,7.500000e+01,1.000000e+00,1.000000e+00
25%,0.000000,0.000000,0.000000,55.000000,1.500000e+03,5.900000e+02,1.100000e+02
50%,2.000000,1.000000,0.000000,87.000000,2.800000e+03,9.900000e+02,2.500000e+02
75%,3.000000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07

# Reporte de analisis 1

In [ ]:
##importando la Base de Datos / CTRL + M + Y : intercala entre texto y codigo el contenido, probar metodo abreviado de teclas rapidas: CTRL + M + H

In [ ]:
datos = pd.read_csv('alquiler.csv')

UnicodeDecodeError: ignored

In [ ]:
datos

      Tipo;Distrito;Cuartos;Vacantes;Suites;Area;Valor;Mantenimiento;Impuesto
0              Habitación;San Borja;1;0;0;40;1700;500;60
1                       Casa;Lurigancho;2;0;1;100;7000;;
2           Local comercial;Ate;0;4;0;150;5200;4020;1111
3            Departamento;Pachacámac;1;0;0;15;800;390;20
4                     Departamento;Ate;1;0;0;48;800;230;
...                                                  ...
32955          Habitación;Pachacámac;0;0;0;27;800;350;25
32956            Departamento;Lince;3;1;2;78;1800;800;40
32957            Departamento;Rímac;2;1;0;48;1400;509;37
32958              Departamento;Rímac;2;0;0;70;3000;760;
32959  Local comercial;Pachacámac;0;0;0;250;6500;4206...

[32960 rows x 1 columns]

In [ ]:
datos = pd.read_csv('alquiler.csv',sep=";")

In [ ]:
datos

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN
32959,Local comercial,Pachacámac,0,0,0,250,6500.0,4206.0,1109.0

In [ ]:
type(datos)

pandas.core.frame.DataFrame

In [ ]:
datos.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32960 non-null  object
 1   Distrito       32960 non-null  object
 2   Cuartos        32960 non-null  int64
 3   Vacantes       32960 non-null  int64
 4   Suites         32960 non-null  int64
 5   Area           32960 non-null  int64
 6   Valor          32943 non-null  float64
 7   Mantenimiento  28867 non-null  float64
 8   Impuesto       22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [ ]:
datos.head()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN

In [ ]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

##Informacion general sobre la base de datos

In [ ]:
datos.dtypes

Tipo              object
Distrito          object
Cuartos            int64
Vacantes           int64
Suites             int64
Area               int64
Valor            float64
Mantenimiento    float64
Impuesto         float64
dtype: object

In [ ]:
tipo_de_datos = pd.DataFrame(datos.dtypes,columns = ['Tipos de datos'])

In [ ]:
tipo_de_datos.columns.name='Variables'

In [ ]:
tipo_de_datos

Variables     Tipos de datos
Tipo                  object
Distrito              object
Cuartos                int64
Vacantes               int64
Suites                 int64
Area                   int64
Valor                float64
Mantenimiento        float64
Impuesto             float64

In [ ]:
datos.shape #devuelve el numero de filas y columnas

(32960, 9)

In [ ]:
datos.shape[0]

32960

In [ ]:
datos.shape[1]

9

In [ ]:
print('La base de datos presenta {} registros (inmuebles) y {} variables'.format(datos.shape[0],datos.shape[1]))

La base de datos presenta 32960 registros (inmuebles) y 9 variables

#Informaciones de un Dataframe

In [ ]:
import pandas as pd
data = [['Fulano', 12, 7.0, True],
        ['Sicrano', 15, 3.5, False], 
        ['Beltrano', 18, 9.3, True]]
datos = pd.DataFrame(data, 
        columns = ['Alumno', 'Edad', 'Nota', 'Aprobado'])
datos

     Alumno  Edad  Nota  Aprobado
0    Fulano    12   7.0      True
1   Sicrano    15   3.5     False
2  Beltrano    18   9.3      True

In [ ]:
datos.dtypes

Alumno       object
Edad          int64
Nota        float64
Aprobado       bool
dtype: object

In [ ]:
tipo_de_datos = pd.DataFrame(datos.dtypes,columns = ['Tipos de datos'])

In [ ]:
tipo_de_datos.columns.name='Variables'

In [ ]:
tipo_de_datos

Variables Tipos de datos
Alumno            object
Edad               int64
Nota             float64
Aprobado            bool

# Crear Dataframes de diferentes tipos de archivos

In [ ]:
import pandas as pd

In [ ]:
json = open('datos/alquiler.json')
print(json.read())

[{"Tipo":"Habitación","Distrito":"San Borja","Cuartos":1,"Vacantes":0,"Suites":0,"Area":40,"Valor":1700.0,"Mantenimiento":500.0,"Impuesto":60.0},
{"Tipo":"Casa","Distrito":"Lurigancho","Cuartos":2,"Vacantes":0,"Suites":1,"Area":100,"Valor":7000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Ate","Cuartos":0,"Vacantes":4,"Suites":0,"Area":150,"Valor":5200.0,"Mantenimiento":4020.0,"Impuesto":1111.0},
{"Tipo":"Departamento","Distrito":"Pachacámac","Cuartos":1,"Vacantes":0,"Suites":0,"Area":15,"Valor":800.0,"Mantenimiento":390.0,"Impuesto":20.0},
{"Tipo":"Departamento","Distrito":"Ate","Cuartos":1,"Vacantes":0,"Suites":0,"Area":48,"Valor":800.0,"Mantenimiento":230.0,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Barranco","Cuartos":3,"Vacantes":1,"Suites":0,"Area":70,"Valor":1200.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Comas","Cuartos":2,"Vacantes":0,"Suites":0,"Area":50,"Valor":1300.0,"Mantenimiento":301.0,"Impuesto":17.0},
{"Tipo":"Casa en condominio","Distrito":"Ate","Cuartos":5,"Vacantes":4,"Suites":5,"Area":750,"Valor":22000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Casa en condominio","Distrito":"El Agustino","Cuartos":2,"Vacantes":2,"Suites":0,"Area":65,"Valor":1000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Pachacámac","Cuartos":0,"Vacantes":3,"Suites":0,"Area":695,"Valor":35000.0,"Mantenimiento":19193.0,"Impuesto":3030.0}]

In [ ]:
df_json = pd.read_json('datos/alquiler.json')
df_json

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [ ]:
txt = open('datos/alquiler.txt')
print(txt.read())

Tipo	Distrito	Cuartos	Vacantes	Suites	Area	Valor	Mantenimiento	Impuesto
Habitación	San Borja	1	0	0	40	1700	500	60
Casa	Lurigancho	2	0	1	100	7000
Local comercial	Ate	0	4	0	150	5200	4020	1111
Departamento	Pachacámac	1	0	0	15	800	390	20
Departamento	Ate	1	0	0	48	800	230
Departamento	Barranco	3	1	0	70	1200
Departamento	Comas	2	0	0	50	1300	301	17
Casa en condominio	Ate	5	4	5	750	22000
Casa en condominio	El Agustino	2	2	0	65	1000
Local comercial	Pachacámac	0	3	0	695	35000	19193	3030

In [ ]:
df_txt = pd.read_table('datos/alquiler.txt')
df_txt

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [ ]:
df_xlsx= pd.read_excel('datos/alquiler.xlsx')
df_xlsx

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [ ]:
df_html= pd.read_html('datos/datos_html_1.html')
df_html[0]

,Año,Campeón,Subcampeón,Sede
0,2018,Francia,Croacia,Rusia
1,2014,Alemania,Argentina,Brasil
2,2010,España,Holanda,Sudáfrica
3,2006,Italia,Francia,Alemania
4,2002,Brasil,Alemania,Corea S. y Japón
...,...,...,...,...
18,1946,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
19,1942,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
20,1938,Italia,Hungría,Francia
21,1934,Italia,Checoslovaquia,Italia
22,1930,Uruguay,Argentina,Uruguay


*   Cuando usamos la funcion read_html() en una url o archivo HTML que contenga mas de una tabla, cada una es convertida en un DataFrame y todas se almacenan en una lista de Python, es decir, la funcion read_html(), devuelve una lista de DataFrames.


*   Cuando se usa la funcion read_html(), es posible pasar como parametro de entrad(fuente de los datos) una url.

In [ ]:
len(df_html)

1

# Series e index

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv('alquiler.csv',sep=';')

In [ ]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
datos['Tipo']

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [ ]:
datos.Tipo #solo para variables que no tengan espacios

0             Habitación
1                   Casa
2        Local comercial
3           Departamento
4           Departamento
              ...
32955         Habitación
32956       Departamento
32957       Departamento
32958       Departamento
32959    Local comercial
Name: Tipo, Length: 32960, dtype: object

In [ ]:
tipo_de_inmueble = datos.Tipo

In [ ]:
type(tipo_de_inmueble)

pandas.core.series.Series

In [ ]:
tipo_de_inmueble.drop_duplicates() #elimina los duplicados para la visualizacion pero los mantiene en el dataset original, valor por defecto de inplace = False

0                Habitación
1                      Casa
2           Local comercial
3              Departamento
7        Casa en condominio
                ...
4379                Oficina
4721                 Chalet
6983                 Studio
9687                  Hotel
23614      Local industrial
Name: Tipo, Length: 22, dtype: object

In [ ]:
tipo_de_inmueble.drop_duplicates(inplace=True) #elimina los duplicados en el contenido del dataset

In [ ]:
tipo_de_inmueble

0                Habitación
1                      Casa
2           Local comercial
3              Departamento
7        Casa en condominio
                ...
4379                Oficina
4721                 Chalet
6983                 Studio
9687                  Hotel
23614      Local industrial
Name: Tipo, Length: 22, dtype: object

# Organizando la visualización

In [ ]:
tipo_de_inmueble.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [ ]:
tipo_de_inmueble = pd.DataFrame(tipo_de_inmueble)

In [ ]:
type(tipo_de_inmueble)

pandas.core.frame.DataFrame

In [ ]:
tipo_de_inmueble.shape[0] #llamamos a shape que nos devuelve una tupla con el numero de filas y de columnas, en este caso llamamos al indice 0, nro de filas

22

In [ ]:
range(tipo_de_inmueble.shape[0])

range(0, 22)

In [ ]:
for i in range(tipo_de_inmueble.shape[0]):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
tipo_de_inmueble.index = range(tipo_de_inmueble.shape[0])

In [ ]:
tipo_de_inmueble.index

RangeIndex(start=0, stop=22, step=1)

In [ ]:
tipo_de_inmueble

                  Tipo
0           Habitación
1                 Casa
2      Local comercial
3         Departamento
4   Casa en condominio
..                 ...
17             Oficina
18              Chalet
19              Studio
20               Hotel
21    Local industrial

[22 rows x 1 columns]

In [ ]:
tipo_de_inmueble.columns.name = 'Id'

In [ ]:
tipo_de_inmueble

Id                Tipo
0           Habitación
1                 Casa
2      Local comercial
3         Departamento
4   Casa en condominio
..                 ...
17             Oficina
18              Chalet
19              Studio
20               Hotel
21    Local industrial

[22 rows x 1 columns]

# Creando estructuras de datos

In [ ]:
data = [1,2,3,4,5]

In [ ]:
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
index = ['Linea' + str(i) for i in range(5)]
index

['Linea0', 'Linea1', 'Linea2', 'Linea3', 'Linea4']

In [ ]:
s = pd.Series(data = data, index = index)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [ ]:
data = {'Linea' + str(i):i+1 for i in range(5)}
data

{'Linea0': 1, 'Linea1': 2, 'Linea2': 3, 'Linea3': 4, 'Linea4': 5}

In [ ]:
s1 = s +2

Linea0    3
Linea1    4
Linea2    5
Linea3    6
Linea4    7
dtype: int64

In [ ]:
s2 = s1 + s

In [ ]:
s2

Linea0     4
Linea1     6
Linea2     8
Linea3    10
Linea4    12
dtype: int64

In [ ]:

datos = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(datos)
df

   A  B
X  1  2
Y  3  4

In [ ]:
datos = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(datos, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

# Concatenando Dataframes

In [ ]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
index = ['Linea'+ str(i) for i in range(3)]
index

['Linea0', 'Linea1', 'Linea2']

In [ ]:
df1 = pd.DataFrame(data = data, index=index)
df1

        0  1  2
Linea0  1  2  3
Linea1  4  5  6
Linea2  7  8  9

In [ ]:
columns = ['Columna'+ str(i) for i in range(3)]
columns

['Columna0', 'Columna1', 'Columna2']

In [ ]:
df1 = pd.DataFrame(data = data, index=index, columns = columns)
df1

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [ ]:
data = {'Columna0':{'Linea0':1,'Linea1':4,'Linea2':7},
'Columna1':{'Linea0':2,'Linea1':5,'Linea2':8},
'Columna2':{'Linea0':3,'Linea1':6,'Linea2':9}}
data

{'Columna0': {'Linea0': 1, 'Linea1': 4, 'Linea2': 7},
 'Columna1': {'Linea0': 2, 'Linea1': 5, 'Linea2': 8},
 'Columna2': {'Linea0': 3, 'Linea1': 6, 'Linea2': 9}}

In [ ]:
df2 = pd.DataFrame(data)
df2

        Columna0  Columna1  Columna2
Linea0         1         2         3
Linea1         4         5         6
Linea2         7         8         9

In [ ]:
data = [(1,2,3),(4,5,6),(7,8,9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [ ]:
df3 = pd.DataFrame(data, index = index, columns =  columns) #se configuran los nombres de filas y columnas creados anteriormente

In [ ]:
df1[df1 > 0] ='A'

In [ ]:
df1

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A

In [ ]:
df2[df2 > 0] ='B'
df2

       Columna0 Columna1 Columna2
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B

In [ ]:
df3[df3 > 0] ='C'
df3

       Columna0 Columna1 Columna2
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [ ]:
df4 = pd.concat([df1,df2,df3]) #concatenando verticalmente dataframes
df4

       Columna0 Columna1 Columna2
Linea0        A        A        A
Linea1        A        A        A
Linea2        A        A        A
Linea0        B        B        B
Linea1        B        B        B
Linea2        B        B        B
Linea0        C        C        C
Linea1        C        C        C
Linea2        C        C        C

In [ ]:
df5 = pd.concat([df1,df2,df3], axis = 1) #concatenando horizontalmente dataframes, se usa el rotulo de fila como llave
df5

,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2,Columna0,Columna1,Columna2
Linea0,A,A,A,B,B,B,C,C,C
Linea1,A,A,A,B,B,B,C,C,C
Linea2,A,A,A,B,B,B,C,C,C