<a href="https://colab.research.google.com/github/nelsonvilte/python-pandas-tratamiento-analisis-datos/blob/class05/Selecciones_Frecuencias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reporte de Análisis IV

# Selecciones y Frecuencias

In [ ]:
import pandas as pd

In [ ]:
datos =pd.read_csv('alquiler_residencial.csv',sep=';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
3,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
4,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
5,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
8,Departamento,Pachacámac,1,0,0,36,1200.0,NaN,NaN
9,Departamento,Mi Perú,2,1,0,70,1500.0,642.0,74.0

In [ ]:
#Selecione solamente los imuebles clasificados con tipo 'Departamento'
seleccion = datos['Tipo']=='Departamento'
seleccion #los que cumplen el criterio son True

0        False
1        False
2         True
3         True
4         True
         ...
22840     True
22841    False
22842     True
22843     True
22844     True
Name: Tipo, Length: 22845, dtype: bool

In [ ]:
n1 = datos[seleccion].shape[0] #los inmuebles tipo departamento, la frecuencia
n1

19532

In [ ]:
#Selecione solamente los imuebles clasificados con tipo 'Casa', 'Casa de condominio' y 'Casa de villa'
seleccion = (datos['Tipo']=='Casa')|(datos['Tipo']=='Casa en condominio')|(datos['Tipo']=='Casa de villa')
seleccion #los que cumplen el criterio son True

0        False
1         True
2        False
3        False
4        False
         ...
22840    False
22841    False
22842    False
22843    False
22844    False
Name: Tipo, Length: 22845, dtype: bool

In [ ]:
datos[seleccion]

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
6,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
7,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
14,Casa en condominio,San Luis,3,1,1,115,2000.0,NaN,NaN
18,Casa en condominio,Ate,4,3,2,466,7500.0,2695.0,NaN
...,...,...,...,...,...,...,...,...,...
22810,Casa en condominio,Callao,3,3,1,155,2000.0,530.0,1250.0
22812,Casa,Carabayllo,2,1,0,60,1400.0,NaN,NaN
22820,Casa en condominio,Ate,3,5,3,1000,20000.0,3000.0,NaN
22823,Casa,Pachacámac,5,0,1,160,5000.0,NaN,80.0
22839,Casa en condominio,Ate,5,3,4,450,15000.0,1711.0,2332.0

In [ ]:
n2 = datos[seleccion].shape[0]
n2

2212

In [ ]:
#Seleccione los inmuebles con área entre 60 y 100  metros cuadrados, incluyendo los limites
seleccion = (datos['Area']>=60) & (datos['Area']<=100)
n3 = datos[seleccion].shape[0]
n3

8736

In [ ]:
#Seleccione los inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00

seleccion = (datos['Cuartos']>=4) & (datos['Valor']<2000)
n4 = datos[seleccion].shape[0]
n4

41

In [ ]:
print("N° de inmuebles clasificados con tipo 'Departamento' -> {}".format(n1))
print("N° de inmuebles clasificados con tipo 'Casa', 'Casa de condominio' y 'Casa de villa' -> {}".format(n2))
print("N° de inmuebles con área entre 60 y 100  metros cuadrados, incluyendo los limites -> {}".format(n3))
print("N° de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00 -> {}".format(n4))

N° de inmuebles clasificados con tipo 'Departamento' -> 19532
N° de inmuebles clasificados con tipo 'Casa', 'Casa de condominio' y 'Casa de villa' -> 2212
N° de inmuebles con área entre 60 y 100  metros cuadrados, incluyendo los limites -> 8736
N° de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que $2.000,00 -> 41

# Ejercicios con Dataframes  utilizando técnicas de selección

In [ ]:
#Dataframe
import pandas as pd
alumnos = pd.DataFrame({
'Nombre': ['Ary', 'Katia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
'Edad': [15, 27, 56, 32, 42, 21, 19, 35], 
'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
'Aprobado': [True, False, False, True, True, True, False, False]},
columns = ['Nombre', 'Edad', 'Sexo', 'Notas', 'Aprobado'])

In [ ]:
alumnos

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
1   Katia    27    F    2.5     False
2   Denis    56    M    5.0     False
3    Beto    32    M   10.0      True
4   Bruna    42    F    8.2      True
5    Dara    21    F    7.0      True
6  Carlos    19    M    6.0     False
7   Alice    35    F    5.6     False

**Selección Nivel 1**

- Estudiantes aprobados

In [ ]:


seleccion = alumnos['Aprobado'] == True
aprobados = alumnos[seleccion]
aprobados

  Nombre  Edad Sexo  Notas  Aprobado
0    Ary    15    M    7.5      True
3   Beto    32    M   10.0      True
4  Bruna    42    F    8.2      True
5   Dara    21    F    7.0      True

**Selección Nivel 2**

- DataFrame sólo con las estudiantes aprobadas

In [ ]:


seleccion = (alumnos.Aprobado == True) & (alumnos.Sexo == 'F')
aprobadas = alumnos[seleccion]
aprobadas

  Nombre  Edad Sexo  Notas  Aprobado
4  Bruna    42    F    8.2      True
5   Dara    21    F    7.0      True

**Selección Nivel 3**

- Solo una visualización de los alumnos con edades entre 10 a 20 años o con edad mayor/igual a 40 años.

In [ ]:
seleccion = (alumnos.Edad > 10) & (alumnos.Edad < 20) | (alumnos.Edad >= 40)
alumnos[seleccion]

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
2   Denis    56    M    5.0     False
4   Bruna    42    F    8.2      True
6  Carlos    19    M    6.0     False

**Seleccion Nivel 4**

- DataFrame sólo con los estudiantes reprobados y mantenga en este DataFrame sólo las columnas Nombre, Sexo y Edad, en este orden.

In [ ]:
#Alternativa 1
seleccion = alumnos['Aprobado'] == False
reprobados = alumnos[['Nombre', 'Sexo', 'Edad']][seleccion]
reprobados

   Nombre Sexo  Edad
1   Katia    F    27
2   Denis    M    56
6  Carlos    M    19
7   Alice    F    35

In [ ]:
#Alternativa 2
seleccion = alumnos['Aprobado'] == False
reprobados = alumnos.loc[seleccion, ['Nombre', 'Sexo', 'Edad']]
reprobados

   Nombre Sexo  Edad
1   Katia    F    27
2   Denis    M    56
6  Carlos    M    19
7   Alice    F    35

**Seleccion Nivel 5**

- Visualización con los tres alumnos más jóvenes.

In [ ]:
alumnos.sort_values(by = ['Edad'], inplace = True)
alumnos.iloc[:3]

   Nombre  Edad Sexo  Notas  Aprobado
0     Ary    15    M    7.5      True
6  Carlos    19    M    6.0     False
5    Dara    21    F    7.0      True

# Formas de Selección - Extras

In [ ]:
import pandas as pd

In [ ]:
'l1 l2 l3 l4'.split() #crea una lista con los cuatro elementos como cadenas

['l1', 'l2', 'l3', 'l4']

In [ ]:
data = [(1,2,3,4),(5,6,7,8),(9,10,11,12),(13,14,15,16)]
df = pd.DataFrame(data,'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split() ) #creacion de los rotulos de filas y columnas
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   9  10  11  12
l4  13  14  15  16

In [ ]:
df['c1']

l1     1
l2     5
l3     9
l4    13
Name: c1, dtype: int64

In [ ]:
type(df['c1'])

pandas.core.series.Series

In [ ]:
df[['c3','c1']] #genera una serie

    c3  c1
l1   3   1
l2   7   5
l3  11   9
l4  15  13

In [ ]:
type(df[['c3','c1']]) #genera un dataframe

pandas.core.frame.DataFrame

In [ ]:
df[1:3] #la ultima posicion colocada no es seleccionada

    c1  c2  c3  c4
l2   5   6   7   8
l3   9  10  11  12

In [ ]:
df[1:][['c3','c1']]

    c3  c1
l2   7   5
l3  11   9
l4  15  13

In [ ]:
df.loc['l3']   #utiliza como parámetros los nombres de las filas y columnas

c1     9
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [ ]:
df.loc[['l3','l2']]

    c1  c2  c3  c4
l3   9  10  11  12
l2   5   6   7   8

In [ ]:
df.loc['l1','c2']  #realiza intersecciones

2

In [ ]:
df.iloc[0,1] #devuelve el elemento en la posicion pasada en los parametros

2

In [ ]:
df.loc[['l3','l1'],['c4','c1']]

    c4  c1
l3  12   9
l1   4   1

In [ ]:
df.iloc[[2,0],[3,0]] #devuelve las lineas por su posición

    c4  c1
l3  12   9
l1   4   1